---
import "../styles/generel.css";
import NewCard from "./NewCard.astro";

import ButtonSecondary from "./ButtonSecondary.astro";
---

<div class="background"></div>
<section id="arch">
  <a href="/designs?type=Architectural" class="breadcrumbcontainer">
    <div class="breadcrumb">
      <h2>architectural designs</h2>
    </div>
  </a>

  <div class="grid1">
    <div class="box about gradientanim">
      <h3>featured projects</h3>
      <p>These designs give insight in my architectural projects, starting 2008.</p>
    </div>
    <a href="/designs/tivoli-corner/" class="box"><NewCard year="2020" img="/tivoli1_1200_735.webp" title="tivoli corner" /></a>
    <a href="/designs/national-Aquarium/" class="box"><NewCard year="2013" img="/aqua1_1200_800.webp" title="national danish aquarium" /></a>
    <a href=`/designs/the-Playhouse/` class="box"><NewCard year="2008" img="https://www.jesperkongshaug.com/images/60_image.jpg" title="the royal playhouse" /></a>
    <a href="/designs/planetarium/" class="box"><NewCard year="2012" img="/plan1_1200_674.webp" title="copenhagen planitarium" /></a>
    <a href="/designs/Olympic-Headquarter/" class="box"><NewCard year="2019" img="https://www.jesperkongshaug.com/images/215_image.jpg" title="olympic headquarters" /></a>
  </div>

  <div class="fade">
    <ButtonSecondary target="" ctaDestination="/designs?type=Architectural" buttonTitle="SEE MORE" />
  </div>
  <hr />
</section>

<style>
  .background {
    position: absolute;
    background: linear-gradient(274deg, rgba(15, 17, 54, 1) 0%, rgba(15, 17, 54, 1) 26%, rgba(15, 17, 54, 1) 70%, rgba(22, 33, 140, 1) 100%);
    height: 150%;
    width: 100%;
    z-index: -200;
    margin-left: -6rem;
    margin-right: -6rem;
  }
  h2 {
    position: sticky;
    top: 5rem;
  }
  .breadcrumbcontainer {
    position: sticky;
    top: 5.04rem;
    z-index: 50;
    height: 6rem;
    margin-bottom: 2rem;
  }
  .breadcrumb {
    max-width: fit-content;
    border: solid var(--body-contrast) 1px;
    border-top: none;
    padding: 1rem;
    background: var(--footer-gradient);
  }
  a {
    text-decoration: none;
  }
  h1 {
    text-align: center;
    margin: 1rem;
  }
  .grid1 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 1rem 0 2rem 0;
  }

  .box {
    aspect-ratio: 1/1;

    border-radius: 2px;
    border: 1px var(--body-contrast) solid;
    transition: var(--unfocus);
  }

  .box:hover {
    transition: var(--focus);
  }
  .about {
    background: var(--header-gradient);
    transition: var(--unfocus);
  }
  .about:hover {
    background: var(--footer-gradient);
    transition: var(--focus);
  }

  .fade {
    position: relative;
    top: -10rem;
    height: 10rem;
    background: var(--fade-gradient);
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-left: -1rem;
    margin-right: -1rem;
    border-bottom: 1px var(--body-contrast) solid;
    margin-bottom: -10rem;
  }

  @media (min-width: 900px) {
    .grid1 {
      gap: 3rem;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .fade {
      margin-left: -6rem;
      margin-right: -6rem;
    }
    .about {
      padding: 2rem;
    }
  }
</style>
