---
import "../styles/generel.css";
const { title, year, img, link } = Astro.props;
---

<article>
  <img src={img} alt="" />
  <div class="overlay">
    <div class="items">
      <h3>{title}</h3>
      <hr />
      <p>{year}</p>
    </div>
  </div>
</article>

<style>
  article {
    display: grid;
    place-items: center;
    z-index: 1;
  }
  img,
  .overlay {
    grid-area: 1/1;
  }
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2px;
    transition: var(--unfocus);
    z-index: -1;
    transform: translateX(0.5rem) translateY(0.5rem);
  }
  .overlay {
    padding: 1.5rem;
    opacity: 0;
    transition: var(--unfocus);
    background-color: var(--primary-35);
    border-radius: 1px;
    overflow: hidden;
    z-index: 10;
    width: 100%;
  }
  article:hover .overlay {
    opacity: 1;
    transition: var(--focus);
  }
  article:hover img {
    /* filter: blur(2px); */
    transform: translateX(0) translateY(0);
    transition: var(--focus);
    filter: blur(2px);
  }
  .items h3 {
    margin: auto;
  }
  .items p {
    text-align: end;
  }
  hr {
    border: 1px var(--body-contrast) solid;
    max-width: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: end;
  }

  @media (min-width: 900px) {
    img {
      transform: translateX(1.5rem) translateY(1.5rem);
    }
  }
</style>
